# KNN 분류

KNN은 K - Nearest - Neighbors의 약칭

새로운 관측값이 주어지면 기존 데이터 중에서 가장 속성이 비슷한 K개의 이웃을 먼저 찾음  
가까운 이웃들이 갖고 있는 목표 값과 같은 값으로 분류하여 예측

K의 값에 따라 예측의 정확도가 달라지므로 적절한 K값을 찾는 것이 매우 중요

# Import library

In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

# Load data

In [2]:
df = sns.load_dataset('titanic')

# EDA

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### 데이터 자료형 확인

### 데이터 결측치 확인

### 데이터 통계 요약정보 확인

### 컬럼 전체의 고유값 확인

#### NaN값이 많은 deck 열을 삭제, embarked와 내용이 겹치는 embark_town 열을 삭제

#### age 열에 나이 데이터가 없는 모든 행을 삭제 - age 열(891개 중 177개의 NaN 값)

#### embarked 열의 NaN값을 승선도시 중에서 가장 많이 출현한 값으로 치환

## 상관관계 히트맵

## 원핫인코딩 - 범주형 데이터를 모델이 인식할 수 있도록 숫자형으로 변환

성별에 대한 원핫인코딩

embarked에 대한 원핫인코딩

원핫인코딩 전의 기존 칼럼 제거

# Modeling

In [32]:
X=features[['pclass', 'age', 'sibsp', 'parch', 'female', 'male', 'town_C', 'town_Q', 'town_S']]  #독립 변수 X
y=features['survived']                      #종속 변수 Y

#### 독립 변수 데이터를 정규화(normalization)

#### train data 와 test data로 구분

#### 모델 객체 생성 (k=5로 설정)

In [40]:
knn = KNeighborsClassifier(n_neighbors=5)

#### train data를 가지고 모형 학습

In [41]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

### 모델 성능 평가

confusion matrix & classification report

In [44]:
r_square = knn.score(X_test, y_test)
print(r_square)

0.8465116279069768