# Simple linear regression

이 모델은 독립변수 **하나** 에 대해서 1차식의 cost가 가장 작게 나오는 선을 긋는 모델입니다.

추가 설명은 같은 폴더 내의 [linear_regression.pdf-클릭하면 바로 볼 수 있습니다.](https://github.com/cpprhtn/Cpprhtn-s_Deep_Learning/blob/master/AI_Class/002/linear_regression.pdf)에서 하겠습니다.

* pdf 자료주소: 모두의 머신러닝/딥러닝 웹페이지

# Import library

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Load data

mpg data : 연료 효율성 예측 데이터

mpg : miles per gallon  
cylinders : (엔진의) 실린더  
displacement : 이동거리  
horsepower : 마력  
weight : 무게  
acceleration : 가속도  
model year : 연식  
origin : 엔진을 만든 국가  
name : 모델명

[클릭시 데이터 위치로 이동. *해당 레포를 클론해서 쓰는것을 추천드립니다.](https://github.com/cpprhtn/Cpprhtn-s_Deep_Learning/blob/master/AI_Class/002/auto-mpg.csv)

In [4]:
df = pd.read_csv('./auto-mpg.csv', header=None)

# Exploratory Data Analysis

In [5]:
df.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

데이터의 컬럼명이 없으므로 수정해줌

In [6]:
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

### 데이터 자료형 확인

### 데이터 결측치 확인

### 데이터 통계 요약정보 확인

### 컬럼 전체의 고유값 확인

### '?'을 np.nan으로 변경
horsepower 컬럼에서 ?라는 값이 포함되어있다

이를 누락된 데이터라는 의미의 nan이라는 값으로 변경해준 후에 누락 데이터가 포함된 행을 지워주도록 하자

### 누락데이터 행을 삭제

### 문자열을 실수형으로 변환

# 시각화

### 종속 변수 Y인 "연비(mpg)"와 다른 변수 간의 선형관계를 그래프(산점도)로 확인  
#### 중량 대비 연비 산점도

#### Matplotlib 사용

#### Seaborn 사용

#### seaborn 조인트 그래프 - 산점도, 히스토그램

#### seaborn pariplot - 두 변수 간의 모든 경우의 수 그리기

# Modeling

In [10]:
X=df[['weight']]  #독립 변수 X
y=df['mpg']       #종속 변수 Y

### train data 와 test data로 구분(7:3 비율)

### 단순회귀분석 모형 객체 생성

### train data를 가지고 모형 학습

### 학습을 마친 모형에 test data를 적용하여 결정계수(R-제곱) 계산