# 목표

사기 신용 카드 거래 식별

### 데이터 변수 설명

time : 경과 된 시간 / 초 단위  
Amount : 거래 금액  
V1, V2,… V28 : 개인정보 / 개인정보로 인해 자세한 항목은 알려주지 않음  
Class : 응답 변수 / 사기일 경우 1, 아닐경우 0

## Import lib & dataset

In [140]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [141]:
df = pd.read_csv('creditcard.csv')

In [142]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [143]:
df['Class'].unique()

array([0, 1])

In [147]:
y = df["Class"]

In [148]:
X = df.drop(["Class"], axis = 1)

In [150]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [151]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [152]:
from keras.models import Sequential
from keras.layers import Dense

In [153]:
model = Sequential()
model.add(Dense(256, input_shape=(30,), activation='relu'))
model.add(Dense(256, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense((1), activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])
model.summary()

Model: "sequential_26"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_101 (Dense)            (None, 256)               7936
_________________________________________________________________
dense_102 (Dense)            (None, 256)               65792
_________________________________________________________________
dense_103 (Dense)            (None, 16)                4112
_________________________________________________________________
dense_104 (Dense)            (None, 16)                272
_________________________________________________________________
dense_105 (Dense)            (None, 1)                 17
=================================================================
Total params: 78,129
Trainable params: 78,129
Non-trainable params: 0
_________________________________________________________________

In [154]:
model.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])

In [155]:
model.fit(X_train, Y_train, batch_size=15, epochs=10)

Epoch 1/10
18000/18000 [==============================] - 2s 135us/step - loss: 0.0258 - accuracy: 0.9968
Epoch 2/10
18000/18000 [==============================] - 2s 134us/step - loss: 0.0174 - accuracy: 0.9974
Epoch 3/10
18000/18000 [==============================] - 2s 122us/step - loss: 0.0154 - accuracy: 0.9976
Epoch 4/10
18000/18000 [==============================] - 2s 111us/step - loss: 0.0138 - accuracy: 0.9976
Epoch 5/10
18000/18000 [==============================] - 2s 111us/step - loss: 0.0132 - accuracy: 0.9976
Epoch 6/10
18000/18000 [==============================] - 2s 113us/step - loss: 0.0122 - accuracy: 0.9977
Epoch 7/10
18000/18000 [==============================] - 2s 105us/step - loss: 0.0112 - accuracy: 0.9977
Epoch 8/10
18000/18000 [==============================] - 2s 106us/step - loss: 0.0100 - accuracy: 0.9978
Epoch 9/10
18000/18000 [==============================] - 2s 106us/step - loss: 0.0096 - accuracy: 0.9980
Epoch 10/10
18000/18000 [==============================] - 2s 106us/step - loss: 0.0093 - accuracy: 0.9977

In [157]:
score = model.evaluate(X_test, Y_test)
print(score[1])

2000/2000 [==============================] - 0s 30us/step
0.9975000023841858